<p [ngClass]="{cssUpdated: name != 'Vinicius'}">
   My name is {{name}}
</p>

<p *ngIf="name != 'Vinicius'">
   Name updated!
</p>
<button (click)="onChangeName()">Complete the name</button>

<button (click)="onAddElement()">New Element</button>
<ul>
   <li 
      *ngFor="let item of elements"
      [id]="'element' + item"
      [ngStyle]="{backgroundColor: getColor(item)}">Element {{ item }}</li>
</ul>

<app-username [username]="'Username: Vinicius'" (userClicked)="onUserWasClicked($event)"></app-username>
<app-username [username]="'Username: Rafael'" (userClicked)="onUserWasClicked($event)"></app-username>

<input type="text" [(ngModel)]="message">
<p>{{message}}</p>

<p>---Time-to-Practice---</p>

<p 
   [ngStyle]="{color: hobbies.length < 3 ? 'red' : ''}"
   [ngClass]="{cssHobbyCounterMoreThanThree: hobbies.length > 3}"
>
   Number of hobbies: {{hobbies.length}}
</p>

<input type="text" [(ngModel)]="inputHobby">
<button (click)="onAddHobby()">New Hobby</button>
<ul>
   <app-hobby
      *ngFor="let hobby of hobbies"
      [hobbyName]="hobby"
      (hobbyRemoved)="onRemoveHobby($event)"
   >   
   </app-hobby>
</ul>

<p *ngIf="hobbyDeleted">Hobby deleted!</p>

<p>---Nesting-multiple-components---</p>
<app-user></app-user>